@media screen and (min-width: 720px) {
  .article.o-card{
    height: 310px;
  }
  .crafting-card, #result.crafting-card{
      max-width: 230px;
      max-height: 330px;
      width: 230px;
      height: 330px;
  }

  article.o-card{
    width: 230px;
  }

  article.o-card, .crafting-slot article.o-card{
    height: 330px;
    padding: 0;
    margin: 10px;
  }

  .crafting-slot article.o-card{
    margin: 0;
  }

  .slot-container h4{
    text-align: center;
  }

  #result article.o-card{
    min-width: 100%;
    padding: 0;
    margin-top: 0;
  }
  
  .crafting .btn-danger{
    margin: 10px auto;
  }

  .crafting-slot article figure figcaption.c-bg_img_desc{
    display: block;
  }

  .crafting .user-cards-container, .crafting .crafting-recipes-container{
    height: 342px;
    padding: 0 20px;
  }

  .crafting-recipe .material-cards .card-material:not(:first-child){
    margin-left: -3rem;
  }

  .crafting .crafting-recipe{
    justify-content: center;
    max-height: 360px;
  }

  .main-cards-container .o-card{
    margin: 10px 20px;
  }

  .crafting-recipe .material-cards{
    transform: scale(0.78);
  }

  .crafting-recipe .material-cards.with-children-2{
    transform-origin: 78% 20%;
  }
  
  .crafting-recipe .material-cards.with-children-3{
    transform-origin: 22% 0%;
  }

  .crafting .equal-button {
    max-height: 335px;
    font-size: 40px;
  }

  .crafting-recipe .crafting-card-recipe{
    transform: scale(1);
  }

  #craft-card-button{
    left: 25%;
    font-size: 16px;
  }

  .crafting .slot-container{
    width: 230px;
  }

  #cardsContainer .scrollbar-container{
    height: 700px;
  }
  
  .modal-body{
    height: 90vh;
  }
  .crafting .slot-container{
    margin-top: 0 !important;
    left: 0 !important;
  }

  article.o-card .o-card_b{
    font-size: 14px;
  }

  .o-card figure figcaption.c-bg_img_desc b{
    font-size: 16px;
  }
}