a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: green;
}

.custom-button{
    padding: 10px 20px;
    border: 1px solid black;
    color: black;
    background: white;
    transition: 0.3s;
    margin: 1rem 0;
}
.custom-button:hover{
    background-color: black;
    color: white;
}

.mtg-card a{
    margin-top: 5px;
}

header{
    height: 300px;
}